#About h2 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    color: #999999;
}
#About p {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    color: #000;
    text-align: center;
}
